.content__first {
  max-width: 984px;
  max-height: 983px;
  margin: auto;
}

.content__first_title {
  font-size: 96px;
  text-align: center;
  font-style: bold;
  max-width: 720px;
  max-height: 200px;
  margin: 90px auto 0;
}

.content__first_description {
  max-width: 720px;
  max-height: 72px;
  margin: 32px auto 0;
  font-size: 30px;
  text-align: center;
}

.content__first_image {
  max-width: 100%;
  max-height: 615px;
  margin-top: 64px;
  filter: grayscale(100%);
}

.content__second {
  max-width: 830px;
  max-height: 482px;
  margin: 92px auto 148px;
}
.content__second_title {
  font-size: 54px;
}
.content__second_quote {
  font-size: 24px;
  margin: 40px 0 0;
  max-width: 738px;
}

.content__quote_description {
  margin: 0;
  padding: 0;
}
.content__quote_author {
  text-align: right;
  margin: 10px 0 0;
}

.content__second_text {
  max-width: 722px;
  margin: 32px 0 0;
  font-size: 16px;
  line-height: 26.08px;
}
