.content__first {
  max-width: 984px;
  max-height: 983px;
  margin: auto;
}

.content__first-title {
  font-size: 96px;
  text-align: center;
  font-style: bold;
  max-width: 720px;
  max-height: 200px;
  margin: 90px auto 0;
}

.content__first-description {
  max-width: 720px;
  max-height: 72px;
  margin: 32px auto 0;
  font-size: 30px;
  text-align: center;
}

.content__first-image {
  max-width: 100%;
  max-height: 615px;
  margin-top: 64px;
  filter: grayscale(100%);
}

.content__second {
  max-width: 830px;
  max-height: 482px;
  margin: 92px auto 148px;
}
.content__second-title {
  font-size: 54px;
}
.content__second-quote {
  font-size: 24px;
  margin: 40px 0 0;
  max-width: 738px;
}

.content__quote-description {
  margin: 0;
  padding: 0;
}
.content__quote-author {
  text-align: right;
  margin: 10px 0 0;
}

.content__second-text {
  max-width: 722px;
  margin: 32px 0 0;
  font-size: 16px;
  line-height: 26.08px;
}

@media screen and (max-width: 768px) {
  .content__first-title {
    font-size: 75px;
    max-width: 530px;
    max-height: 158px;
  }

  .content__first-description {
    margin: 25px auto 0;
  }

  .content__first-image {
    max-width: 100%;
    max-height: 480px;
    margin-top: 30px;
  }

  .content__second {
    max-width: 720px;
    max-height: 490px;
    margin: 90px auto 148px;
  }
  .content__second-title {
    font-size: 45px;
  }
  .content__second-quote {
    font-size: 24px;
    margin: 50px 0 0;
    max-width: 720px;
  }

  .content__quote-description {
    margin: 0;
    padding: 0;
  }

  .content__second-text {
    max-width: 720px;
    max-height: 182px;
    margin: 32px auto 0;
  }
}

@media screen and (min-width: 320px) {
  .content__first-title {
    font-size: 40px;
    max-width: 228px;
    max-height: 88px;
    margin: 50px auto 0;
  }

  .content__first-description {
    max-width: 720px;
    max-height: 72px;
    margin: 16px auto 0;
    font-size: 16px;
  }

  .content__first-image {
    max-height: 200px;
    margin-top: 40px;
  }

  .content__second {
    max-width: 288px;
    max-height: 878px;
    margin: 40px auto 148px;
  }
  .content__second-title {
    font-size: 32px;
  }
  .content__second-quote {
    margin: 40px 0 0;
    max-width: 288px;
  }

  .content__second-text {
    max-width: 288px;
  }
}
