.header {
  display: flex;
}

.header__logo {
  max-width: 254px;
  min-height: 70px;
  padding-top: 34px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    max-width: 254px;
    min-height: 66px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 544px) {
  .header__logo {
    max-width: 188px;
    min-height: 52px;
    padding-top: 20px;
  }
}
