.page {
  background-color: #2a2c2f;
  color: white;
  font-family: "inter", arial, sans-serif;
  margin: auto;
  max-width: 1280px;
  min-width: 768px;
}

.logo {
  display: flex;
}

.logo__image {
  max-width: 254px;
  min-height: 70px;
  padding-top: 34px;
  margin: auto;
}
